.container {
  display: flex;
  flex-wrap: wrap;
  /* margin: 50px; */
  padding: 0px;
  justify-content: space-evenly;
  font-family: bnb-font;
}
.app_logo {
  margin: 50px 50px 20px 50px;
  width: 110px;
}
.select-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  padding-right: 52px;
}
.select-flex-item {
  /* margin: 10px; */
}
.item1 {
}
.icon-style {
  font-size: 15px;
  /* background-color: orangered; */
  color: white;
}
.btn {
  background-color: orangered;
  height: 37px;
  width: 50px;
  border: gray;
}
.stays-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 50px 50px -35px;
}
.footer {
  padding: 80px;
  /* font-family: 'Times New Roman', Times, serif; */
  font-weight: bold;
  /* justify-content: center; */
  margin-left: 550px;
  align-content: center;
}
@font-face {
  font-family: 'bnb-font'; /*a name to be used later*/
  src: url('D:\DevChallenges\wind-bnb\src\font\AirbnbCereal_W_Bd.otf'); /*URL to font*/
}
